


.circle {
    width: 64pt;
    height: 64pt;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(44, 44, 66);
    transform: translate(-50%, -50%);
    animation-name: centeredScaleWobble;
    animation-duration: 0.66s;
    animation-timing-function: ease;
    transition: transform 0.33s ease;
}

.circle--hover {
    transform: translate(-50%, -50%) scale(1.33);
}


@media (max-width: 767px) {
    .circle {
        margin-top: 28pt;
    }
}