
.title__heading {
    position: relative;
    z-index: 60;
    font-size: 64pt;
    color: rgb(44, 44, 66);
    animation-name: risingFadeIn;
    animation-duration: 2.22s;
    animation-timing-function: ease;
    user-select: none;
}

@media (max-width: 991px) {
    .title__heading {
        font-size: 52pt;
    }
}

@media (max-width: 767px) {
    .title__heading {
        font-size: 36pt;
        text-align: center;
    }
}